In [10]:
import pandas as pd
import requests
import os
import re
import numpy as np
import matplotlib.pyplot as plt

In [6]:
commodity = pd.read_csv('COMMODITY_DATA.csv')

In [7]:
commodity.head()

,date,WTI,COTTON,NATURAL_GAS,ALL_COMMODITIES,COFFEE,SUGAR,ALUMINUM,BRENT,CORN,COPPER,WHEAT
0,2023-04-01,79.45,NaN,2.16,NaN,NaN,NaN,NaN,84.64,NaN,NaN,NaN
1,2023-03-01,73.28,95.391304,2.31,167.438844,222.663913,20.961739,2296.416957,78.43,284.957405,8856.310870,309.429600
2,2023-02-01,76.83,99.430000,2.38,173.851435,229.506000,21.403500,2416.181500,82.59,298.245303,8936.587000,332.412023
3,2023-01-01,78.12,100.311364,3.27,181.870767,206.760000,19.943182,2494.900909,82.50,302.839988,9007.346364,320.097045
4,2022-12-01,76.44,100.886364,5.53,193.367161,210.388636,20.065000,2398.206818,80.92,302.235405,8371.091364,323.654838

lets begin

In [31]:
folder_name = 'Commodity-Prices-Analysis'
if not os.path.exists(folder_name):
    os.makedirs(folder_name)
url = 'https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv'
response = requests.get(url)
response

In [32]:
filename = re.sub(r'[\\/:*?"<>|]', '', url.split('/')[-1])
file_path = os.path.abspath(os.path.join(folder_name, filename))
response = requests.get(url)
with open(file_path, mode='wb') as file:
    file.write(response.content)

In [34]:
test = pd.read_csv('image-predictions.tsv', sep='\t')

In [35]:
test.head()

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True